
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-progress {
    animation: progressGrow linear forwards;
  }

  @keyframes progressGrow {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
}
