@import "../../styles/mixins";

.mainHeader {
  width: 100vw !important;
  background-color: transparent;
  color: var(--white);
  transition: background-color 0.4s ease;
  &:global(.delayed) {
    transition-delay: 0.13s !important;
    :global(.transition-colors) {
      transition-delay: 0.13s !important;
    }
    &:global(.slimHeader) {
      transition-delay: 0.2s !important;
      :global(.transition-colors) {
        transition-delay: 0.2s !important;
      }
    }
  }
  .hamburger {
    display: block;
    cursor: pointer;

    span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 7px 0;
      transition: 0.4s;
    }

    &.active {
      // add any active styles if needed
    }
  }

  &:global(.slimHeader) {
    --text: #000;
    background-color: #ffffff;
    transition: background-color 0.4s ease,
      box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

    a {
      // color: var(--black) !important;
      transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hamburger {
      color: #000 !important;
    }

    :global {
      /* Hamburger Icon */

      .menu-item {
        button {
          color: var(--black) !important;
          transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
      .menuOpen {
        li {
          opacity: 0;
          transform: translateX(-100%);
          animation: slideIn 0.4s ease-in-out forwards;

          // Apply staggered animation for each list item
          &:nth-child(1) {
            animation-delay: 0.1s;
          }
          &:nth-child(2) {
            animation-delay: 0.2s;
          }
          &:nth-child(3) {
            animation-delay: 0.3s;
          }
          &:nth-child(4) {
            animation-delay: 0.4s;
          }
          &:nth-child(5) {
            animation-delay: 0.5s;
          }
        }
      }

      @keyframes slideIn {
        from {
          opacity: 0;
          transform: translateX(-100%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    > div {
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
}
